.contacts {
  &__wrapper {
    @media (max-width: 992px) {
      margin: 0 auto;
      max-width: 350px;
    }
  }
  &__brand {
    margin: 0 auto;
    display: block;
  }
  &__info {
    text-transform: uppercase;
    font-family: "Proxima Nova Regular";
    text-align: center;
    margin-top: 10px;
  }
  &__address {
    text-align: center;
  }
  &__form {
    margin-top: 12px;
  }
  &__link {
    color: var(--font-main);
  }
  &__input {
    color: var(--font-main);
  }
}
