.catalog {
  &__wrapper {
    padding-top: 50px;
  }
  &__title {
    text-transform: uppercase;
    font-family: "PF DIN Display Pro Bold";
    font-size: 40px;
    line-height: 50px;
    position: relative;
    padding-left: 25px;
    margin-left: 10px;
    &::before {
      content: "";
      position: absolute;
      left: -12.5px;
      width: 17px;
      height: 100%;
      background-color: var(--accent);
      background-repeat: no-repeat;
      background-size: cover;
    }
    @media (max-width: 992px) {
      font-size: 30px;
      line-height: 35px;
    }
    @media (max-width: 768px) {
      font-size: 25px;
      line-height: 30px;
    }
  }

  &__title-bottom {
    background: linear-gradient(90deg, #fbab18 0%, rgb(239 208 31) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
  }
}
