.credit {
  &__wrapper {
    margin-top: 50px;
  }
  &__title {
    margin: 0 0 25px 0;
    font-family: "Renault Life Bold";
    text-transform: uppercase;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    @media (max-width: 1200px) {
      font-size: 40px;
      line-height: 45px;
    }
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 22px;
    }
  }
  &__tabs-wrapper {
    background-color: var(--grey-bg);
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
  }
  &__tabs {
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: space-between;
  }
  &__tab {
    font-family: "Renault Life Bold";
    padding: 0 13px;
    height: 100%;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    text-align: center;
    transition: all 0.3s ease;
    height: 100%;
    display: flex !important;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    &:hover {
      background: linear-gradient(90deg, #fbab18 0%, #f0c713 100%);
    }
    &.is-active {
      background: linear-gradient(90deg, #fbab18 0%, #f0c713 100%);
    }
  }
  &__content {
    display: none;

    &.is-active {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;
    }
  }
  &__img {
    width: calc(70% - 10px);
    object-fit: contain;
    object-position: center;
    @media (max-width: 900px) {
      width: calc(60% - 10px);
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  &__card {
    max-width: 322px;
    padding: 35px 28px;
    box-shadow: 0px 0px 44px 11px rgba(0, 0, 0, 0.13);
    background-color: var(--grey-bg);
    height: fit-content;
    width: calc(30% - 10px);
    @media (max-width: 900px) {
      width: calc(40% - 10px);
    }
    @media (max-width: 768px) {
      width: 100%;
      margin: 0 auto;
    }
  }
  &__card-title {
    font-size: 45px;
    line-height: 50px;
    font-family: "Renault Life Bold";
    text-transform: uppercase;
    background: linear-gradient(90deg, #fbab18 0%, rgb(239 208 31) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
  &__card-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 30px;
  }
  &__card-item {
    position: relative;
    font-size: 0.85em;
    line-height: 20px;
    padding-left: 30px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      background: linear-gradient(90deg, #fbab18 0%, #f0c713 100%);
      border-radius: 5px;
    }
  }
  &__input {
    color: var(--font-main);
    font-weight: bold;
  }
  &__checkbox {
    margin-top: 13px;
  }
  &__link {
    color: var(--font-main);
  }
}
