.hero {
  &__outer {
    min-height: 900px;
    background-image: url("/images/hero-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: stretch;
    @media (max-width: 992px) {
      min-height: 700px;
    }
    @media (max-width: 768px) {
      min-height: 475px;
      background-image: url("/images/hero-bg-mobile.webp");
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 7px;
    height: 100%;
    @media (max-width: 992px) {
      padding-top: 75px;
    }
    @media (max-width: 768px) {
      padding-top: 50px;
    }
  }
  &__title {
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 54px;
    @media (max-width: 1200px) {
      font-size: 38px;
      line-height: 44px;
      margin-bottom: 20px;
    }
    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 32px;
      text-align: center;
    }
  }
  &__bottom-title {
    color: var(--white);
    margin-bottom: 25px;
    font-family: "PF DIN Display Pro";
    font-weight: normal;
    font-size: 30px;
    line-height: 32px;
  }
  &__bottom-row {
    display: flex;
    gap: 24px;
  }
  &__info {
    @media (max-width: 992px) {
      display: none;
    }
  }
  &__coundown {
    @media (max-width: 992px) {
      width: 100% !important;
    }
    @media (max-width: 420px) {
      .rotor-group {
        padding-right: 10px !important;
      }
      .rotor-group:nth-child(n + 2):nth-child(-n + 3):before,
      .rotor-group:nth-child(n + 2):nth-child(-n + 3):after {
        left: 66px !important;
      }
    }
  }
  &__info-item {
    color: var(--white);
    font-size: 20px;
    line-height: 22px;
  }
  &__phone {
    color: var(--accent);
    &:hover {
      color: var(--pale);
    }
  }
  &__btn {
    @media (max-width: 768px) {
      margin: 0 auto;
    }
  }
}
